{% extends 'base.html' %}

{% block title %}
Edit Subject
{% endblock %}

{% block path %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/cetegores">Create Subject</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/malzama">Create Malzama</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/info">Info</a>
</li>
{% endblock %}

{% block content %}
<h6 class="text-secondary text-center">Edit The Subject</h6>
<form method="POST">
  <div class="row justify-content-center mt-4 ms-2 me-2">
    <input
      type="text"
      class="form-control"
      required
      name="edit_type"
      id="edit_type"
      value="{{data.typee}}"
    />
  </div>

  <div class="row justify-content-center d-block text-center">
    <button type="submit" class="btn btn-success col-5 mt-5">Save</button>
  </div>
</form>
{% endblock %}

{% block messg %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,message in messages %}
            {% if category == "success" %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}

